{% extends "groups/group_base.html" %}

{% block pregroup %}

<div class="col-md-4">
	<div class="content">

<h1>{{group.name}}</h1>
<h5> Member Count: {{group.members.count}}</h5>

				{% if user in group.members.all %}
          <a class="btn btn-default" href="{%url 'posts:create' %}">New Post</a>

					<a href="{% url 'groups:leave' slug=group.slug %}" class="btn  btn-fill btn-danger"><span class="glyphicon glyphicon-remove-circle"></span> Leave</a>
				{% else %}
					<a href="{% url 'groups:join' slug=group.slug %}" class="btn btn-fill btn-success"><span class="glyphicon glyphicon-ok-circle"></span> Join</a>

        {% endif %}
</div>
</div>

{% endblock %}

{% block group_content %}

  <div class="col-md-8">
  	{% if group.posts.count == 0 %}
  	<h2>No posts in this group yet!</h2>
  </div>

  	{% else %}
    <div class="col-md-8">
      	<div class="list-group">
  		      {% for post in group.posts.all %}
			         <div class="list-group-item-text container-fluid">
                  {% include "posts/_post.html"%}   
               </div>
  		      {% endfor %}
       </div>
    </div>
  	{% endif %}

{% endblock %}
